# noinspection EditorConfigKeyCorrectness

[*.{kt,kts}]
indent_size=2
insert_final_newline=true
max_line_length=120

ktlint_standard_import-ordering = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_property-naming = disabled
