<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.michaldrabik.ui_widgets"
  >

  <application>

    <service
      android:name=".progress.ProgressWidgetEpisodeCheckService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE"
      />

    <service
      android:name=".progress.ProgressWidgetService"
      android:permission="android.permission.BIND_REMOTEVIEWS"
      />

    <receiver
      android:name="com.michaldrabik.ui_widgets.progress.ProgressWidgetProvider"
      android:label="Progress Widget"
      >
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/progress_widgets_provider"
        />
    </receiver>

    <receiver
      android:name="com.michaldrabik.ui_widgets.search.SearchWidgetProvider"
      android:label="Search Widget"
      >
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/search_widgets_provider"
        />
    </receiver>

  </application>

</manifest>