name: Release Github Flow

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  verify-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Run ktlint
        run: curl -sSLO https://github.com/pinterest/ktlint/releases/download/1.3.1/ktlint && chmod a+x ktlint && ./ktlint

  verify-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Decrypt secrets
        run: ./.github/scripts/decrypt_secrets.sh
        env:
          KEYSTORE_PASSPHRASE: ${{ secrets.KEYSTORE_PASSPHRASE }}

      - name: Run Unit Tests (app)
        run: ./gradlew :app:testDebugUnitTest
      - name: Run Unit Tests (ui-repository)
        run: ./gradlew :repository:testDebugUnitTest
      - name: Run Unit Tests (ui-discover)
        run: ./gradlew :ui-discover:testDebugUnitTest
      - name: Run Unit Tests (ui-trakt-sync)
        run: ./gradlew :ui-trakt-sync:testDebugUnitTest
      - name: Run Unit Tests (ui-statistics)
        run: ./gradlew :ui-statistics:testDebugUnitTest
      - name: Run Unit Tests (ui-statistics-movies)
        run: ./gradlew :ui-statistics-movies:testDebugUnitTest
      - name: Run Unit Tests (ui-search)
        run: ./gradlew :ui-search:testDebugUnitTest
      - name: Run Unit Tests (ui-progress-movies)
        run: ./gradlew :ui-progress-movies:testDebugUnitTest

  release:
    needs: [ verify-lint, verify-tests ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Decrypt secrets
        run: ./.github/scripts/decrypt_secrets.sh
        env:
          KEYSTORE_PASSPHRASE: ${{ secrets.KEYSTORE_PASSPHRASE }}

      - name: Build APK
        run: ./gradlew app:assembleRelease

      - name: Github Release
        uses: softprops/action-gh-release@v2
        with:
          name: v${{ github.ref_name }}
          files: app/build/outputs/apk/release/app-release.apk
          body_path: app/src/main/assets/release_notes.txt